.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
}

.home > div {
  margin: 8px 0;
}

.home > p {
  font-size: 16px;
  margin: 4px 0;
}

.home > span {
  display: none;
}
